DB_URL=jdbc:postgresql://host-render:5432/bodypaint?sslmode=require
DB_USERNAME=bodypaint_user
DB_PASSWORD=poner_password_real
DDL_AUTO=update
ADMIN_EMAIL=admin@admin.bodypaint
ADMIN_PASSWORD=poner_password_admin
VENDEDOR_EMAIL=vendedor@vendedor.bodypaint
VENDEDOR_PASSWORD=poner_password_vendedor